<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:fragment="page_head(title)">
	    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>[[${title}]]</title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/> <!-- подключаем html-фрейворк Bootstrap для более быстрой и простой вёрстки сайта -->
        <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
        
        <script type="text/javascript" th:src=@{/webjars/jquery/jquery.min.js}></script> <!-- подключаем javaScript-фрейворк jquery -->
        <script type="text/javascript" th:src=@{/webjars/bootstrap/js/bootstrap.min.js}></script>
        <script type="text/javascript" th:src=@{/js/common.js}></script>
    </head>
	
	<body>
	
		<!--Фрагмент для отображения названия стобцов таблицы с сортировкой -->
	    <th th:fragment="column_link(fieldname, columnLabel, removeTag)" th:remove="${removeTag}">
	        <a class="text-white"
	            th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldname} + '&sortDir=' + ${sortField != fieldname ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
	            [[${columnLabel}]]
	        </a>
	        <span th:if="${sortField == fieldname}"
	            th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	    </th>
	    
	    <!--Фрагмент пагинации -->
	    <li th:fragment="pagination_link(pageName, pagePath)">	
			<a class="page-link" 
				th:href="@{'/users/page/' + ${pagePath} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
				[[${pageName}]]
			</a>
	    </li>
	    
	    <!--Фрагмент Enable/Disable -->
	    <td th:fragment="enableButton_link">
	    	<a th:if="${user.enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green hover-link-darkgreen" 
		    	th:href="@{'/users/page/' + ${currentPage} + '/' + ${user.id} + '/enabled/false?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}" 
		    	title="Disable this user"
		    	></a>
	                                                        	
	        <a th:if="${user.enabled == false}" class="fa-solid fa-circle fa-2x icon-dark hover-link-darkgray" 
	        	th:href="@{'/users/page/' + ${currentPage} + '/' + ${user.id} + '/enabled/true?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
	        	title="Enable this user"
	        	></a>
	    </td>
	    
	    <!--Фрагмент Update -->  
    	<a th:fragment="updateUser_link" class="fa-solid fa-user-pen fa-2x icon-green hover-link-darkgreen" th:href="@{'/users/edit/' + ${user.id}}"
        	title="Edit this user"></a> 
        	
        <!--Фрагмент Delete --> 
        <a th:fragment="deleteUser_link" class="fa-solid fa-user-slash fa-2x icon-dark link-delete hover-link-darkgray" 
           th:href="@{'/users/delete/' + ${user.id}}"
           th:userId="${user.id}"
           title="Delete this user"></a>
	    
	    <!--Фрагмент футера -->
	    <div th:fragment="footer" class="text-center m-3">
            <p>Shopme Control Panel - Copyright &copy; Shopme</p>
        </div>
	</body>
</html>