<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="ISO-8859-1">
	</head>
	
	<body>
	
		<!--Фрагмент для отображения названия стобцов таблицы с сортировкой -->
	    <th th:fragment="column_link(fieldname, columnLabel, removeTag)" th:remove="${removeTag}">
	        <a class="text-white"
	            th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldname} + '&sortDir=' + ${sortField != fieldname ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
	            [[${columnLabel}]]
	        </a>
	        <span th:if="${sortField == fieldname}"
	            th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	    </th>
	    
	    <!--Фрагмент пагинации -->
	    <li th:fragment="pagination_link(pageName, pagePath)">	
			<a class="page-link" 
				th:href="@{'/users/page/' + ${pagePath} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
				[[${pageName}]]
			</a>
	    </li>
	    
	    <!--Фрагмент Enable/Disable -->
	    <td th:fragment="enableButton_link">
	    	<a th:if="${user.enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green" 
		    	th:href="@{'/users/page/' + ${currentPage} + '/' + ${user.id} + '/enabled/false?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}" 
		    	title="Disable this user"
		    	></a>
	                                                        	
	        <a th:if="${user.enabled == false}" class="fa-solid fa-circle fa-2x icon-dark" 
	        	th:href="@{'/users/page/' + ${currentPage} + '/' + ${user.id} + '/enabled/true?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
	        	title="Enable this user"
	        	></a>
	    </td>
	    
	    <!--Фрагмент Update -->  
    	<a th:fragment="updateUser_link" class="fa-solid fa-user-pen fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
        	title="Edit this user"></a> 
        	
        <!--Фрагмент Delete --> 
        <a th:fragment="deleteUser_link" class="fa-solid fa-user-slash fa-2x icon-dark link-delete" 
           th:href="@{'/users/delete/' + ${user.id}}"
           th:userId="${user.id}"
           title="Delete this user"></a>
	    
	    
	</body>
</html>