<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- подключаем тимлиф -->
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Users - Shopme Admin</title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/> <!-- подключаем html-фрейворк Bootstrap для более быстрой и простой вёрстки сайта -->
        <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
        <script type="text/javascript" th:src=@{/webjars/jquery/jquery.min.js}></script> <!-- подключаем javaScript-фрейворк jquery -->
        <script type="text/javascript" th:src=@{/webjars/bootstrap/js/bootstrap.min.js}></script>
    </head>

	<body>
		<!-- Header -->
        <div class="container-fluid">
            <div>
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <!-- лого -->
                    <a class="navbar-brand" th:href="@{/}">
                        <img th:src="@{/images/ShopmeAdminSmall.png}">
                    </a>

                    <!-- data-toggle="collapse" для сворачивания элементов -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

					<!-- Навигационная панель -->
                    <div class="collapse navbar-collapse" id="topNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/users}">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/categories}">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/brands}">Brands</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/products}">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customers}">Customers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/orders}">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/report}">Sales Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/articles}">Articles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/menus}">Menus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/settings}">Settings</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>

            <div>
                <h2>Manage Users</h2>
            </div>
            
            <div th:if="${message != null}" class="alert alert-success text-center">
                [[${message}]]
            </div>

			<!-- Большой и средний дисплей -->
            <div class="full-details">
            
            	<div class="leftstr">
	            	<form th:action="@{/users/page/1}" class="form-inline mr-3 mb-2">
	            		<!--sortField и sortDir будут отпрвляться вместе с формой  -->
	            		<input type="hidden" name="sortField" th:value="${sortField}"/>
	   					<input type="hidden" name="sortDir" th:value="${sortDir}"/>        	
	            	
	            		<!-- Строка поиска -->
	            		<input type="search" placeholder="Search" name="keyword" th:value="${keyword}" class="form-control" required/>
	            		&nbsp;&nbsp;
	            		<!-- Кнопка поиска -->
	            		<button type="submit" class="btn btn-primary">
	            			<i class="fas fa-search"></i>
	            		</button>
	            		&nbsp;&nbsp;
	            		<!-- Кнопка удаления -->
	            		<button type="button" class="btn btn-secondary" onclick="clearFilter()">
	            			<i class="fas fa-eraser"></i>
	            		</button>
	            	</form>
            	</div>
            
            	<div class="rightstr">
	                <a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark hover-link-green mr-2"></a>
	                
	                <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
	                
	                <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-dark hover-link-green mr-2"></a>
	                
	                <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark hover-link-lightred mr-2"></a>
            	</div>
            
                <!--table-responsive - по ширине контента; xL - по ширине страницы  -->
                <table class="table table-responsive-xL table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                        	<th class="hideable-column">
                            	<th th:replace="fragments :: column_link('id', 'User ID', 'tag')"></th>                        
                        	</th>
                        	
                            <th>Photos</th>
                            
                            <th class="hideable-column">
                            	<th th:replace="fragments :: column_link('email', 'E-Mail', 'tag')"></th>
                            </th>
                            
                            <th th:replace="fragments :: column_link('firstname', 'First Name', 'none')"></th>
                            
                            <th th:replace="fragments :: column_link('lastname', 'Last Name', 'none')"></th>  
                                                     
                            <th>Roles</th>
                                                       
   							<th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')"></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="user : ${listUsers}">
                            <td class="hideable-column">[[${user.id}]]</td>
                            <td>
                            	<span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-7x icon-silver"></span>
                            	<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" width="100px"/>
                            	
                            </td>
                            <!-- геттеры без слова get и с маленькой буквы -->
                            <td class="hideable-column">[[${user.email}]]</td>
                            <td>[[${user.firstname}]]</td>
                            <td>[[${user.lastname}]]</td>
                            <td>[[${user.roles}]]</td>
                            <td th:replace="fragments :: enableButton_link"></td>
                            <td>
                                <a th:replace="fragments :: updateUser_link"></a> 
                                &nbsp; 
                                <a th:replace="fragments :: deleteUser_link"></a> 
                            </td>
                        </tr>
                    </tbody>
                </table>         
            </div>
            
            <!-- Маленький дисплей -->
            <div class="less-details">
            
            	<div class="m-2">
	                <a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark hover-link-green mr-2"></a>
	                
	                <a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
	                
	                <a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-dark hover-link-green mr-2"></a>
	                
	                <a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark hover-link-lightred"></a>
            	</div>
            	
            	<div>
	            	<form th:action="@{/users/page/1}" class="form-inline m-2">
	            		<!--sortField и sortDir будут отпрвляться вместе с формой  -->
	            		<input type="hidden" name="sortField" th:value="${sortField}"/>
	   					<input type="hidden" name="sortDir" th:value="${sortDir}"/>        	
	            	
	            		<!-- Строка поиска -->
	            		<input type="search" placeholder="Search" name="keyword" th:value="${keyword}" class="form-control leftstr" required/>
	            		&nbsp;&nbsp;
	            		<!-- Кнопка поиска -->
	            		<button type="submit" class="btn btn-primary">
	            			<i class="fas fa-search"></i>
	            		</button>
	            		&nbsp;&nbsp;
	            		<!-- Кнопка удаления -->
	            		<button type="button" class="btn btn-secondary" onclick="clearFilter()">
	            			<i class="fas fa-eraser"></i>
	            		</button>
	            	</form>
            	</div>
            	
            	<div th:each="user : ${listUsers}" class="row m-1">
            		<div class="col-4">
            			<span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-7x icon-silver"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" width="100px"/>
            		</div>
            		<div class="col-8">
            			<div>[[${user.fullName}]]</div>
            			<div>[[${user.roles}]]</div>
            			<div class="mt-2" >
            				<a th:replace="fragments :: enableButton_link"></a>                     
                            &nbsp;    
            				<a th:replace="fragments :: updateUser_link"></a> 
                            &nbsp;    
                            <a th:replace="fragments :: deleteUser_link"></a> 
            			</div>
            		</div>
            		<div>&nbsp;</div>
            	</div>
            </div>
            
            <!-- Отображение количества пользователей на странице -->
            <div class="text-center m-1" th:if="${totalItems > 0}">
            	<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
            </div>
            <div class="text-center m-1" th:unless="${totalItems > 0}">
            	<span>No users found</span>
            </div>
            
            
            <!--Пагинация  -->
            <div th:if="${totalPages > 1}">
	            <nav>
			  		<ul class="pagination justify-content-center flex-wrap">
					    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}" th:include="fragments :: pagination_link('First', '1')" />
					    
					    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}" th:include="fragments :: pagination_link('Previous', ${currentPage - 1})"/>
					    
					    <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}" >
					    	<a th:include="fragments :: pagination_link(${i}, ${i})">
					    </li>
					    	
					    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" th:include="fragments :: pagination_link('Next', ${currentPage + 1})"/>
					    	
					    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" th:include="fragments :: pagination_link('Last', ${totalPages})"/>
			  		</ul>
				</nav>
            </div>
            
            <!-- Всплывающее окно предупреждения -->
            <div class="modal fade text-center" id="confirmModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Заголовок -->
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Тело -->
                        <div class="modal-body">
                            <span id="confirmText"></span>
                        </div>

                        <!-- Футтер -->
                        <div class="modal-footer">
                        	<a class="btn btn-success" href="" id="yesButton">Yes</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <p>Shopme Control Panel - Copyright &copy; Shopme</p>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
               $(".link-delete").on("click", function(e) {
                   e.preventDefault();
                   link = $(this);
                   userId = link.attr("userId");
                   
                   $("#yesButton").attr("href", link.attr("href"));
                   $("#confirmText").text("Are you sure you want to delete this user ID " + userId +"?");
                   $("#confirmModal").modal();
               }); 
            });
            
            
            //Кнопка "стереть"
            function clearFilter() {
				window.location = "[[@{/users}]]";
			}
        </script>

	</body>
</html>